*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header{
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: white;
}

.logo{
    
    vertical-align : middle;
    
    }

.titolo{

    font-family: "Palanquin",sans-serif;
    font-size: 50px;
    vertical-align: middle;
  

}    
.container {
    
    width: 1200px;
    background-color: white;
    margin-left: 200px;
    margin-top: 40px;
    height: auto;
    padding-top: 20px;
    padding-left: 80px;
    margin-right: 600px;
}
body{
    background-color: lightgrey;
}


.pulsante1{

    background-color: rgb(63, 184, 231);
    border-radius: 10%;
    padding: 10px;
    
    color: white;
    
}
.pulsante2{
    border-width: 0.01cm;
    border-style: solid;
    border-color:lightgrey;
    border-radius: 10%;
    padding: 10px;
    color: lightgray;
    
}

#linea-pulsanti{
    
    margin-left: -80px;
    margin-top: 20px;

}
.lista{
    font-family:"Palanquin",sans-serif;
    margin-top: 20px;
    line-height: 45px;
    margin-bottom: 50px;

}

.sottoliste{
    list-style-type: none;
    margin-left: -15px;
   
}

.blu{

font-size: small;
background-color: lightskyblue;
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;
}
.viola{
    font-size: small;
background-color: rgb(187, 100, 187);
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;

}
.green{

    font-size: small;
background-color: rgb(27, 128, 7);
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;
}
.orange{

    font-size: small;
background-color: rgb(231, 89, 23);
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;
}
.pink{
    font-size: small;
background-color: pink;
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;
}
.lighgreen{

    font-size: small;
background-color: greenyellow;
border-radius: 35%;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 4px;
padding-bottom: 5px;
}
.verificati{
    margin-right: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: greenyellow;
    color: greenyellow;
}
.non-verificati{
    margin-right: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: red;
    color: red;
}